body{
    min-height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

}

#GameBorder{
    width: 1000px;
    height: 700px;

    position: relative;         /* children can be absolutely positioned relative to this */
    background-color: #caf0f8;
    border: 2px solid navy;
    border-radius: 6px;
    overflow: hidden;           /* prevents water/fish/boat from overflowing visually */

}
#Water{
    position: absolute;         /* attach to the bottom of GameBorder */
    left: 0; right: 0; bottom: 0;
/*    background-color: lightseagreen; */
    background: linear-gradient(to bottom, #90e0ef, #0077b6);
    height: 50%;
}
#Boat{
    position: absolute;
    bottom: 49%;
    left: 45%;
    animation: bobbing 3s ease-in-out infinite;
    z-index: 2;
}
@keyframes bobbing {
    0%, 100% { transform: translateY(0); }
    50%      { transform: translateY(10px); }
}

#Cloud{
    position: absolute;
    left: -10%;
    animation: cloudR 15s linear infinite;
    animation-delay: 2s;
}
@keyframes cloudR {
    0% {transform: translateX(-10%);}
    100% {transform: translateX(1100%);}
}

.fish{
    position: absolute;
    visibility: hidden;
    width: 60px;
}


#Hook{
    position: absolute;
    left: 48%;
    bottom: 42%;
    z-index: 1;

}
#HookWire{
    position: absolute;
    left: 48%;
    bottom: 48%;
    z-index: 1;

}

#Score{
    position: absolute;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    right: 10%;
    top: 10%;
}

#NotebookButton{
    position:absolute;
    border: none;
    right: 16%;
    top: 20%;
    z-index: 10;
}

#NotebookButton img{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    transition: opacity 0.5s ease-in-out;
}
#NotebookButton img.light{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 60px;
    transition: opacity 0.5s ease-in-out;
}
#NotebookButton:hover img.light{
    opacity: 1;
}


#Notebook{
    position: absolute;
    width: 500px;
    height: 500px;
    top: -1000px;
    background-color: indigo;
    left: 200px;
    transition: 2s ease-in-out;
    z-index: 10;
}

#Shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 2.5s ease-in-out;
    z-index: 0;
    visibility: hidden;
}



#Controlls{
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 20px;


    > span{
        border: 2px solid; padding: 4px; border-radius: 4px;
    }
    > p{
        text-align: center;    
        padding-top: 8px;
    }

    opacity: 1;
    transition: opacity 2s ease; /* controls fade duration */
}
#Controlls p span{
    border: 2px solid; padding: 4px; border-radius: 4px;

}

#Controlls.hidden {
    opacity: 0;
    pointer-events: none; /* optional: ignore clicks after fade */
}
