body{
    min-height: 100vh;
    background-color: azure;
    background-color: #caf0f880;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#GameBorder{
    width: 70vw;
    aspect-ratio: 10 / 6;

    position: relative;         /* children can be absolutely positioned relative to this */
    background-color: #caf0f8;

    border: 2px solid navy;
    border-radius: 6px;
    overflow: hidden;           /* prevents water/fish/boat from overflowing visually */
    
}
/*     --angle : 0deg;
    background: linear-gradient(var(--angle), rgb(51, 46, 109) 0% , #caf0f8 50%, #0077b6 100%);*/

#Water{
    position: absolute;         /* attach to the bottom of GameBorder */
    left: 0; right: 0; bottom: 0;
    background: linear-gradient(to bottom, #90e0ef, #0077b6);
    height: 50%;
}
#Sand{
    position: absolute;
    bottom: 0px;
    height: 10vh;
    width: 90vw;

    /* creates the sand at the bottom of the water */
    background-image: url(images/Sand3.png);
    background-repeat: repeat-x;
    background-size: 80px auto;

}
.stones{
    position: absolute;
    bottom: 1%;
    z-index: 1;
}
#Stone1{
    left: 70%;
    rotate: -8deg;
}
#Stone2{
    left: 90%;
    rotate: 10deg;
}
#Stone3{
    left: 10%;
}
#Stone4{
    left: 15%;
    rotate: -3deg;
}


#Boat{
    position: absolute;
    bottom: 49%;
    left: 45%;
    animation: bobbing 3s ease-in-out infinite;
    z-index: 2;
}
@keyframes bobbing {
    0%, 100% { transform: translateY(0); }
    50%      { transform: translateY(10px); }
}

#Cloud{
    position: absolute;
    left: -10%;
    animation: cloudR 15s linear infinite;

}
@keyframes cloudR {
    0% {transform: translateX(-10vw);}
    100% {transform: translateX(100vw);}
}

.fish{
    position: absolute;
    visibility: hidden;
    width: 60px;
}

#Hook{
    position: absolute;
    left: 48%;
    bottom: 42%;
    z-index: 1;

}
#HookWire{
    position: absolute;
    left: 48%;
    bottom: 48%;
    z-index: 1;

}

#Score{
    position: absolute;
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    right: 10%;
    top: 10%;
}

#NotebookButton{
    position:absolute;
    border: none;
    right: 16%;
    top: 20%;
    z-index: 10;
}

#NotebookButton img{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    transition: opacity 0.5s ease-in-out;
}
#NotebookButton img.light{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 60px;
    transition: opacity 0.5s ease-in-out;
}
#NotebookButton:hover img.light{
    opacity: 1;
}


#Notebook{
    position: absolute;
    width: 400px;
    height: 510px;
    top: -530px;
    background-color: rgb(232, 223, 199);
    border: 2px solid #e6904e;
    border-radius: 8px;
    box-shadow: 5px 5px 0px #cd7d40, 2px 5px 0px #cd7d40;
    left: 35%;
    transition: transform 1s ease-in-out;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;

    > h1, h2, p {
        padding: 8px;
        font-family: Tahoma, sans-serif;
    }
    > h1 {
        margin-bottom: 30px;
    }
    > h2 {
        text-align: center;
        width: 50%;
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 8px;
        font-weight: 400;
        font-size: 24px;
    }

    > p {
        text-align: center;
        margin: 0;
        padding-top: 0;
        width: 70%;
    }
}

#fishImg{
    /*background-color: darkmagenta;*/
    border: 2px solid #e6904e;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    padding: 10px;


    display: flex;
    flex-direction: column;
    justify-content: center;

    >img {
        width: 100%;
    }
}

#btnleftArrow, #btnRightArrow {
    position: absolute;
    top: 65%;        
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 6px;
    background-color: rgb(223, 209, 172);
    border: 2px solid #e6904e;
    border-radius: 8px;
    cursor: pointer;
    z-index: 11;
}
#btnleftArrow:hover, #btnRightArrow:hover { background-color: rgb(247, 233, 193); border-color: #f3a060; }
#btnleftArrow:active, #btnRightArrow:active { 
    background-color: rgb(197, 183, 144); 
    border-color: #cd8045;
}
#btnleftArrow { left: 12px; }
#btnRightArrow { right: 12px; }


.notebookLoops {
    padding-top: 30px ;
    padding-bottom: 20px ;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    gap: 0;

    left: -6%;
}

#Shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s ease-in-out;
    z-index: 2;
    pointer-events: none;  /* cant click on the shadow to get notebook, onlu notebook img-btn*/
}
#Shadow.visible {
    background-color: rgba(0,0,0,0.233);
    pointer-events: auto;
}


#Controlls{
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 20px;


    > span{
        border: 2px solid; padding: 4px; border-radius: 4px;
    }
    > p{
        text-align: center;    
        padding-top: 8px;
    }

    opacity: 1;
    transition: opacity 2s ease; /* controls fade duration */
}
#Controlls p span{
    border: 2px solid; padding: 4px; border-radius: 4px;

}

#Controlls.hidden {
    opacity: 0;
    pointer-events: none; /* optional: ignore clicks after fade */
}



@media (max-width: 1300px) {
    #GameBorder{
        width: 90vw;
        height: 85vh;
    }
    #Notebook {
        left: 20%;
        top: -580px;
    }
}
